.curved1 {
  position: relative;
  background: white;
  height: 20vh;
}

.curved1::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e8e8e8e8;
  height: 60%;
}
  /****************************2**********************************/
.spikes {
  position: relative;
  background: #e8e8e8;
  height: 0px;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -57%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 75px;
  background-size: 65px 100%;
  background-image: linear-gradient(135deg, #e8e8e8 25%, transparent 25%), linear-gradient(225deg, #e8e8e8 25%, transparent 25%);
  background-position: 0 0;
  border: 0;
  outline: none;
}


  
  /****************************4**********************************/
  .curved {
    position: relative;
    /* background: #2c3e50; */
    height: 15vh;
  }
  
  .curved::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #e8e8e8;
    height: 30%;
  }