.style{
    position: relative;
    color: #AE8A3B;
    transform: skewX(5deg);
}
.style span{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    mix-blend-mode: difference;
    transition: all .5s;
    border-radius: 5px;
    background: #e8e8e8;
    transform: skewX(5deg);

}
.style:hover span{
    left: calc(100% - 50%);
}


@media (min-width : 767px) {
    .style::before,.style::after{
        border-width: 12px;
    }
    
}
@media (max-width : 767px) {
    .style::before,.style::after{
        border-width: 10px;
    }
    .style::before{
        left: -24px;
    }
    .style::after{
        right: -24px;
    }
    
}