.resposibilty{
    background-image: url(/assets//images/responsibilty.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    
}
.resposibilty::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000007d;
}

.move-up{
    animation: up 3s ease-in-out infinite alternate;
    transform: rotateY(180deg);

}
@keyframes up{
    from{
        transform: translateY(-5px)  scale(0.9);
    }
    to{
        transform: translateY(0px)  scale(1);
    }

}
.Rota{
    perspective: 500px;
    transform-style: preserve-3d;
    background: #e8e8e81a;
    
    
}
@media (min-width : 1100px) {
    .Rota form{
        transform: rotateX(-1deg)   translateZ(-80px);
        transition: all .5s;
    }
    
    .Rota form:hover{
        transform: rotateX(3deg)   translateZ(-70px);
    }
    
}

.Rota .select_option option{
    background: #f9f9f97d;
    color: #00529B;
}



.body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

  
.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet{
    
    text-align: center;
    line-height: 1.5%;
    font-size: 12px;
    color: #000;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
  }
  .swiper-pagination{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap
    
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #00529B;
    box-shadow: 0 0 2px 4px #ae8a3b;
  }
  
 