@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    /* height: 5000px; */
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    
}
html {
    scroll-behavior: smooth;
  }
::-webkit-scrollbar{
    background-color: #00529B;
    border-radius: 10px;


}
::-webkit-scrollbar-thumb{
    background-color:#AE8A3B;
    border-radius: 10px;
    box-shadow: 0 0 5px 4px #fff;
}
::-webkit-scrollbar-button{
    background-color: #fff;

}
::selection{
    background-color: #AE8A3B;
    color: #00529B;
}


