
.imageOffer{
transition: all .5s;
transform: scale(1);


}

.parent-img:hover .imageOffer{
    transform: scale(1.2) rotate(5deg);
     filter: brightness(60%); 
} 


.show-btn{
    transform: translateY(100px);
    transition: all .5s;
}

.parent-img:hover .show-btn{
    transform: translateY(-10px);

}
@media (max-width:576px) {
    .parent-img:hover .show-btn{
        transform: translateY(-50px);
    
    }
}